@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Case Management</h1>
    <p class="lead">Welcome to the alpha version of our Case Management system!  In its present form, you can enter details of existing cases and then edit or delete them.</p>
    <p>See below for instructions and planned future updates!</p>

</div>
<div>
    @Html.ActionLink("Master Case Data", "Index", "CaseMasters")<br />
    @Html.ActionLink("Defendant Info", "Index", "CaseDetails")<br />
    @Html.ActionLink("Charges", "Index", "Charges")<br />
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Current functionality</h2>
        <p>
            Click on the links to view composite case data, defendant information, and information about the charges in active cases.  From there, you can add, edit, or delete the respective items.
        </p>
        <p>If you want create a case from scratch, start from the top down: Master Data, Defendant Info, and then Charges.</p>
    </div>
    <div class="col-md-4">
        <h2>Future updates</h2>
        <ol>
            <li>Combine all add edit functions into one screen/function</li>
            <li>Implement duplication prevention validation for case numbers, etc.</li>
            <li>Implement visual and formatting improvements</li>

        </ol>
    </div>

</div>